<br />
<br />
<br />
<h1>View Phone Book</h1>
<br />
<br />
<br />


<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<!-- Begin Page Content -->
<div class="container-fluid">


    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Entry Name</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#table_id').DataTable();

        var phonebkGlobal;


        // ******** 1. Phonebook Start

        const controller = new AbortController();

        getData();

        async function getData() {
            const response = await fetch('https://localhost:44389/api/phonebooks');
            const settings = {
                method: 'get',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
            };
            const phonebk = await response.json();

            var arrayToString = JSON.stringify(Object.assign({}, phonebk));  // convert array to string
            var stringToJsonObject = JSON.parse(arrayToString);  // convert string to json object

            return stringToJsonObject;
        }

        getData().then(phonebk => {
            phonebk;

            phonebkGlobal = phonebk;

            var trHTML = '';
            $.each(phonebk, function (index, value) {
                console.log(value.name);
                trHTML += '<tr><td>' + value.name + '</td></tr>';
            });
            $('#table_id').append(trHTML);

        });

        // ******** 1. Phonebook End





        // ******** 2. Entry Start

        //getDataEntry();

        //async function getDataEntry() {
        //    const response = await fetch('https://localhost:44389/api/entries');
        //    const settings = {
        //        method: 'get',
        //        headers: {
        //            'Accept': 'application/json, text/plain, */*',
        //            'Content-Type': 'application/json'
        //        }
        //    };
        //    const entrybk = await response.json();

        //    var arrayToString = JSON.stringify(Object.assign({}, entrybk));     // convert array to string
        //    var stringToJsonObject = JSON.parse(arrayToString);                 // convert string to json object

        //    return stringToJsonObject;

        //}

        //getDataEntry().then(entrybk => {
        //    entrybk;

        //    var trHTML = '';
        //    $.each(entrybk, function (index, value) {
        //        //console.log(value.name);
        //        //console.log(value.phoneNumber);
        //        //trHTML += '<tr><td>' +  '</td></tr>' + value.name + '</td></tr>' + value.phoneNumber + '</td></tr>';

        //        trHTML += '<tr><td>' + value.name + '</td></tr>' + value.phoneNumber + '</td></tr>';


        //    });
        //    $('#table_id').append(trHTML);


        //    //$('#table_id tr:last').eq(0).append(trHTML);


        //});

        // ******** 2. Entry End


        // Mix both data to be displayed in table



        //$('#table_id').DataTable({
        //    "ajax": phonebkGlobal


        //});


    });
</script>